# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Data
*.csv
!demo_data.csv

# IDE
.vscode/
.idea/
.DS_Store
**/node_modules/
**/__pycache__/
**/dist/
